<?xml version="1.0"?>
<launch>
    <arg name="waypoint_topic" default="/linear_interpolation_planner_node/waypoint"/>
    <arg name="split_length" default="1.0"/>

    <node pkg="linear_interpolation_planner" type="linear_interpolation_planner_node" name="linear_interpolation_planner_node" output="log" respawn="true" respawn_delay="0">
        <param name="input_topic" value="$(arg waypoint_topic)"/>
        <param name="split_length" value="$(arg split_length)"/>
    </node>
</launch>